---
import TestimonialsShowcase from "../../ui/TestimonialsShowcase/index";
import styles from "./TestimonialsSection.module.scss";
---

<section class={styles.section}>
  <div class={styles.container}>
    <div class:list={[styles.heading, "reveal"]}>
      <div class={styles.metaLine}>
        <span class={styles.metaBadge}>Seção 05</span>
        <span class={styles.metaDate}>Depoimentos</span>
      </div>
      <h2>Resultados que começaram com uma decisão simples: parar de tentar sozinho.</h2>
    </div>

    <TestimonialsShowcase client:visible />
  </div>
</section>
